<a href="https://colab.research.google.com/github/krishkumawat0416-debug/PYTHON/blob/main/pd_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/content/StudentsPerformance.csv')

In [43]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [44]:
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [7]:
df.shape

(1000, 8)

In [8]:
df.size

8000

In [9]:
df.ndim

2

In [10]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [15]:
df.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

In [17]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [18]:
df[['math score' , 'reading score']]

     math score  reading score
0            72             72
1            69             90
2            90             95
3            47             57
4            76             78
..          ...            ...
995          88             99
996          62             55
997          59             71
998          68             78
999          77             86

[1000 rows x 2 columns]

In [19]:
df['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [20]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [23]:
df[df['math score'] > 80]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
16,male,group C,high school,standard,none,88,89,86
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
...,...,...,...,...,...,...,...,...
979,female,group C,associate's degree,standard,none,91,95,94
981,male,group D,some high school,standard,none,81,78,78
987,male,group E,some high school,standard,completed,81,75,76
990,male,group E,high school,free/reduced,completed,86,81,75
995,female,group E,master's degree,standard,completed,88,99,95

In [24]:
df[df['writing score'] < 50]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
11,male,group D,associate's degree,standard,none,40,52,43
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
...,...,...,...,...,...,...,...,...
921,female,group C,high school,free/reduced,none,35,53,46
928,male,group E,associate's degree,free/reduced,completed,46,43,44
978,male,group D,high school,standard,completed,55,41,48
980,female,group B,high school,free/reduced,none,8,24,23
988,female,group A,some high school,free/reduced,none,44,45,45

In [25]:
df[df['test preparation course'] == 'completed']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
1,female,group C,some college,standard,completed,69,90,88
6,female,group B,some college,standard,completed,88,95,92
8,male,group D,high school,free/reduced,completed,64,64,67
13,male,group A,some college,standard,completed,78,72,70
18,male,group C,master's degree,free/reduced,completed,46,42,46
...,...,...,...,...,...,...,...,...
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77

In [28]:
df[(df['gender'] == 'female') & (df['reading score'] > 70)]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
...,...,...,...,...,...,...,...,...
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [29]:
df[df['lunch'] == 'free/reduced']

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
17,female,group B,some high school,free/reduced,none,18,32,28
...,...,...,...,...,...,...,...,...
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
999,female,group D,some college,free/reduced,none,77,86,86

In [30]:
df['math score'].mean()

np.float64(66.089)

In [31]:
df['reading score'].max()

100

In [32]:
df['reading score'].min()

17

In [38]:
df.groupby('race/ethnicity').size()

race/ethnicity
group A     89
group B    190
group C    319
group D    262
group E    140
dtype: int64

In [40]:
df.groupby('gender')['writing score'].mean()

gender
female    72.467181
male      63.311203
Name: writing score, dtype: float64

In [42]:
df.sort_values('math score', ascending=False).head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100
149,male,group E,associate's degree,free/reduced,completed,100,100,93
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
916,male,group E,bachelor's degree,standard,completed,100,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
263,female,group E,high school,standard,none,99,93,90
306,male,group E,some college,standard,completed,99,87,81

In [46]:
df['total score'] = df['math score'] + df['reading score'] + df['writing score']
df['total score']

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Name: total score, Length: 1000, dtype: int64

In [48]:
df['average_score'] = df['total score'] / 3
df['average_score']

0      72.666667
1      82.333333
2      92.666667
3      49.333333
4      76.333333
         ...
995    94.000000
996    57.333333
997    65.000000
998    74.333333
999    83.000000
Name: average_score, Length: 1000, dtype: float64

In [49]:
df['result'] = df['average_score'].apply(lambda x: 'pass' if x >= 60 else 'fail')
df['result']

0      pass
1      pass
2      pass
3      fail
4      pass
       ...
995    pass
996    fail
997    pass
998    pass
999    pass
Name: result, Length: 1000, dtype: object

In [51]:
df.sort_values('total score', ascending=False).head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average_score,result
916,male,group E,bachelor's degree,standard,completed,100,100,100,300,100.000000,pass
962,female,group E,associate's degree,standard,none,100,100,100,300,100.000000,pass
458,female,group E,bachelor's degree,standard,none,100,100,100,300,100.000000,pass
114,female,group E,bachelor's degree,standard,completed,99,100,100,299,99.666667,pass
712,female,group D,some college,standard,none,98,100,99,297,99.000000,pass

In [52]:
df.sort_values('math score', ascending=True).head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,total score,average_score,result
59,female,group C,some high school,free/reduced,none,0,17,10,27,9.000000,fail
980,female,group B,high school,free/reduced,none,8,24,23,55,18.333333,fail
17,female,group B,some high school,free/reduced,none,18,32,28,78,26.000000,fail
787,female,group B,some college,standard,none,19,38,32,89,29.666667,fail
145,female,group C,some college,free/reduced,none,22,39,33,94,31.333333,fail