<a href="https://colab.research.google.com/github/krishkumawat0416-debug/PYTHON/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

In [ ]:
df = pd.read_csv('credit_scoring.csv')

In [ ]:
df.head(5)

,Age,Gender,Marital Status,Education Level,Employment Sta,Credit Utilization
0,60,Male,Married,Master,Employed,0.22
1,25,Male,Married,High School,Unemployed,0.2
2,30\n58,Female\nFemale,Single\nMarried,Master\nPhD,Employed\nUnemployed,0.22\n0.12
3,32,Male,Married,Bachelor,Self-Employed,0.99
4,42,Male,Divorced,Master,Unemployed,0.94

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 34 non-null     object
 1   Gender              34 non-null     object
 2   Marital Status      34 non-null     object
 3   Education Level     34 non-null     object
 4   Employment Sta      34 non-null     object
 5   Credit Utilization  34 non-null     object
dtypes: object(6)
memory usage: 1.7+ KB

In [ ]:
df.isnull().sum()

Age                   0
Gender                0
Marital Status        0
Education Level       0
Employment Sta        0
Credit Utilization    0
dtype: int64

In [ ]:
X = df.drop(columns=['Gender'])
y = df['Gender']

In [ ]:
num_cols = X.select_dtypes(include=['int64', 'float64']).columns
cat_cols = X.select_dtypes(include=['object']).columns

In [ ]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train , y_test = train_test_split(df.drop(
columns = ['Credit Utilization' ]) , df['Credit Utilization'] , test_size = 0.2)

In [ ]:
df.isnull().sum()

Age                   0
Gender                0
Marital Status        0
Education Level       0
Employment Sta        0
Credit Utilization    0
dtype: int64

In [ ]:
x_train

,Age,Gender,Marital Status,Education Level,Employment Sta
2,30\n58,Female\nFemale,Single\nMarried,Master\nPhD,Employed\nUnemployed
27,62,Male,Single,PhD,Employed
14,61\n31,Male\nFemale,Married\nSingle,PhD\nBachelor,Unemployed\nEmployed
3,32,Male,Married,Bachelor,Self-Employed
23,43\n46,Male\nMale,Single\nMarried,Bachelor\nBachelor,Employed\nEmployed
19,24,Male,Single,High School,Employed
30,34,Male,Married,High School,Employed
11,54\n34,Male\nMale,Divorced\nSingle,Master\nHigh School,Self-Employed\nUnemployed
26,41\n47,Male\nMale,Married\nSingle,Master\nBachelor,Employed\nSelf-Employed
8,27\n52,Female\nMale,Divorced\nDivorced,Master\nMaster,Employed\nUnemployed
0,60,Male,Married,Master,Employed
33,60,Male,Single,PhD,Employed
21,60,Female,Divorced,PhD,Self-Employed
28,52,Female,Divorced,PhD,Self-Employed
31,64,Female,Single,PhD,Employed
15,35,Male,Single,PhD,Self-Employed
17,23\n58,Male\nMale,Divorced\nDivorced,PhD\nBachelor,Unemployed\nSelf-Employed
32,53\n52,Female\nFemale,Married\nDivorced,Bachelor\nPhD,Employed\nEmployed
4,42,Male,Divorced,Master,Unemployed
13,35,Female,Single,Bachelor,Employed
20,38\n26,Male\nMale,Single\nSingle,Master\nHigh School,Unemployed\nEmployed
12,22,Female,Married,Bachelor,Self-Employed
18,62,Female,Single,Bachelor,Unemployed
10,51,Male,Divorced,Bachelor,Employed
29,31\n52,Female\nFemale,Single\nDivorced,High School\nBachelor,Self-Employed\nUnemployed
22,28,Female,Married,PhD,Unemployed
16,38,Female,Divorced,PhD,Employed

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)
x_train_cough = oe.fit_transform(y_train.to_frame())
x_test_cough = oe.transform(y_test.to_frame())

x_train_cough.shape

(27, 1)

In [ ]:
x_train_age = x_train.drop(columns=['Gender','Marital Status','Education Level','Employment Sta'],axis = 1).values
x_test_age = x_test.drop(columns=['Gender','Marital Status','Education Level','Employment Sta'],axis=1).values

In [ ]:
x_train_age.shape

(27, 1)

In [ ]:
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

x_train_encoded = oe.fit_transform(x_train[['Marital Status', 'Employment Sta']])
x_test_encoded = oe.transform(x_test[['Marital Status', 'Employment Sta']])

x_train_transformed = np.concatenate((x_train_age, x_train_encoded), axis=1)
x_test_transformed = np.concatenate((x_test_age, x_test_encoded), axis=1)

In [ ]:
x_test_transformed = np

In [ ]:
df.head(4)

,Age,Gender,Marital Status,Education Level,Employment Sta,Credit Utilization
0,60,Male,Married,Master,Employed,0.22
1,25,Male,Married,High School,Unemployed,0.2
2,30\n58,Female\nFemale,Single\nMarried,Master\nPhD,Employed\nUnemployed,0.22\n0.12
3,32,Male,Married,Bachelor,Self-Employed,0.99

In [ ]:
x_train_age.shape

(27, 1)

Syntax for ColumnTransformer:

transformer = ColumnTransformer(transformers=[('imputer', SimpleImputer(), ['NumericalColumn1', 'NumericalColumn2']),('ordinal', OrdinalEncoder(), ['OrdinalColumn']),('onehot', OneHotEncoder(), ['CategoricalColumn1', 'CategoricalColumn2'])],remainder='passthrough')