<a href="https://colab.research.google.com/github/krishkumawat0416-debug/PYTHON/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# avarage of list
a = [10,20,30,40,50,60]
total = 0
for i in a:
  total = total + i
avg = total / len(a)
print("avarage:", avg)

avarage: 35.0

In [ ]:
li = [34,5,4,23,56,78]
total = 0
for i in li:
   total += i
avg = total/len(li)
print(avg)

33.333333333333336

In [ ]:
# harshed number
a = 23
b = a
sum = 0
while(a > 0):
  sum = sum + a%10
  a //= 10
if b%sum == 0:
    print("harshed")
else:
  print("not harshed")

not harshed

In [ ]:
a = 21
b = a
sum = 0
while(a > 0):
  sum = sum + a%10
  a //= 10
if b%sum == 0:
    print("harshed")
else:
  print("not harshed")

harshed

In [ ]:
a = 6
b = sum(i for i in range(1, a) if a % i == 0)

if b == a:
  print("perfect number")
else:
  print("not perfect number")

perfect number

In [ ]:
a = int(input(" enter your number"))
i = 1
sum = 0
while(i < a):
  if a%i == 0:
     sum += i
  i = i + 1
if sum == a:
  print("perfect")
else:
    print("not perfect")

 enter your number23
not perfect

In [ ]:
# print string to list
a = "hello"
b = list(a)
b

['h', 'e', 'l', 'l', 'o']

In [ ]:
# list sum
a = [34,56,77,34,23]
sum = 0
for i in a:
  sum = sum + i
print("sum = ", sum)

sum =  224

In [ ]:
# list even odd number count
a = [1,4,3,6,2,8,4,67,89,34,56]
even = 0
odd = 0
for i in a:
  if i%2 == 0:
    even = even + 1
  else:
    odd = odd + 1
print("even number =", even)
print("odd number =", odd)

even number = 7
odd number = 4

In [ ]:
# smallest number
a = [34,56,23,56,12]
b = a[0]
for i in a:
  if i < b:
    b = i
print(b)

12

In [ ]:
#  largest number
a = [45,36,24,67,89,99]
b = a[0]
for i in a:
  if i > b:
    b = i
print(b)

99

In [ ]:
# frequency of list
a = [2,3,3,2,4,4,5]
freq ={}
for i in a:
  if i in freq:
    freq[i] += 1
  else:
    freq[i] = 1
print(freq)

{2: 2, 3: 2, 4: 2, 5: 1}

In [ ]:
# merge two list
a = [1,2,3,4]
b = [5,6,7,8]
merge = []
for i in a:
  merge = merge + [i]
for j in b:
  merge = merge + [j]
print("merged list:", merge)

merged list: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# WHILE LOOP QUESTION IN PYTHON

In [ ]:
n = int(input("enter your number"))
i = 1
while(i <= n):
     print(i, end = " ")
     i += 1

enter your number10
1 2 3 4 5 6 7 8 9 10

In [ ]:
n = int(input("enter your number"))
while(n >= 1):
     print(n, end = " ")
     n -= 1

enter your number10
10 9 8 7 6 5 4 3 2 1

In [ ]:
# power
a = 2
b = 3

c = a ** b
print(c)

8

In [ ]:
i = 97
while(i <= 122):
     print(chr(i), end = " ")
     i += 1

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
i = 1
n = 100
while(i <= n):
     if i % 2 == 0:
       print(i, end = " ")
     i += 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
n = int(input("enter your number"))
i = 1
sum = 0
while(i <= n):
     if i%2 != 0:
       sum = sum + i
     i += 1
print(sum)

enter your number100
2500

In [ ]:
n = int(input("enter your number"))
count = 0
while n > 0:
      n % 10
      count += 1
      n = n//10
print(count)

enter your number1342
4

In [ ]:
n = int(input("enter your number: "))
sum = 0
while n > 0:
      i = n % 10
      sum += i
      n = n//10
print(sum)

enter your number: 123
6

In [ ]:
n = input("enter your number: ")

first = n[0]
last = n[-1]

print("First digit:", first)
print("Last digit:", last)

enter your number: 234434
First digit: 2
Last digit: 4

In [ ]:
n = int(input("Enter your number: "))

first = n
last = n % 10

while first >= 10:
    first = first // 10
print("First digit:", first)
print("Last digit:", last)

Enter your number: 3445358
First digit: 3
Last digit: 8

In [ ]:
n = int(input("Enter your number: "))

first = n
last = n % 10
while first >= 10:
    first = first // 10
sum = first + last
print(first)
print(last)
print(sum)

Enter your number: 67545
6
5
11

In [ ]:
n = int(input("Enter your number: "))

rev = 0

while n > 0:
    rev = rev * 10 + n % 10
    n = n // 10

print("Reversed number:", rev)

Enter your number: 1234
Reversed number: 4321

In [ ]:
a = 6
i = 1
sum = 0
while(i < a):
  if a%i == 0:
     sum = sum + i
  i = i + 1
if sum == a:
  print("prefect number")
else:
  print("not prefect number")

prefect number

In [ ]:
for num in range(1,51):
   count = 0
   for i in range(1, num+1):
       if num % i == 0:
         count += 1
   if count == 2:
      print(num, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
for i in range(5):
   for j in range(5):
      if i == j or j == 0 or i == 4:
        print("* ", end = "")
      else:
        print(" ", end = " ")
   print()

*
* *
*   *
*     *
* * * * *

In [ ]:

for i in range(5):
  for j in range(5):
      if i == 0 or i == 4 or j == 0 or j == 4:
         print("*", end = " ")
      else:
         print(" ", end = " ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
for i in range(5):
   for j in range(5):
      if i == 0 or j == 0 or i == 4 or j == 4:
        print("*", end = " ")
      else:
        print(" ", end = " ")
   print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
for i in range(5):
   print(i*"* ")
for i in range(5,0,-1):
   print(i*"* ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5):
  print(i*"* ")
for i in range(5,0,-1):
  print(i*"* ")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range(5):
   for j in range(i):
      print("*", end = " ")
   print()
for i in range(3,0,-1):
   for j in range(i):
      print("*", end = " ")
   print()

*
* *
* * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(n):
   for j in range(i, n):
      print(" ", end = " ")
   for k in range(i+1):
      print("*", end = " ")
   print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n = 5
for i in range(1, n+1):
  print(" "*(n-i), end = " ")
  print("* " * i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
x = [1,2,3]
y = x
y = y + [4]
print(x)

[1, 2, 3]

In [ ]:
for i in range(3):
   for j in range(3):
      if i == j:
        break
   else:
        print(i, end=" ")

In [ ]:
a = [1,2]
b = a
b += [3,4]
print(a)

[1, 2, 3, 4]

In [ ]:
lst = [10, 20, 30]
print(lst is lst[:])

False

In [ ]:
from functools import reduce
nums = [1, 2, 3, 4]
print(reduce(lambda x,y: x-y, nums))

-8

In [ ]:
nums = [1, 2, 3, 4]
print(reduce(lambda x,y: x-y, nums))

NameError: name 'reduce' is not defined

In [ ]:
x = list(map(lambda n: n*2, filter(lambda n: n%2==0, range(5))))
print(x)

[0, 4, 8]

In [ ]:
lst = ['a','b','c']
for i, val in enumerate(lst, start=5):
print(i, val, end=" ")

IndentationError: expected an indented block after 'for' statement on line 2 (ipython-input-2447505241.py, line 3)

In [ ]:
nums = [1, 2, 3]
nums.append([4, 5])
print(len(nums))

4

In [ ]:
nums = [1, 2, 3]
nums.insert(1, [4, 5])
print(nums[1])

[4, 5]

In [ ]:
for i in range(1, 5+1):
   for j in range(5 - i):
      print(" ", end = "")
   for j in range(2 * i - 1):
       print("*", end = "")
   print()

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(1, 5+1):
   for j in range(5 - i):
      print(" ", end = "")
   for j in range(2 * i - 1):
       print("*", end = "")
   print()
for i in range(4,0,-1):
   for j in range(5 - i):
      print(" ", end = "")
   for j in range(2 * i - 1):
       print("*", end = "")
   print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
for i in range(1, 5+1):
   for j in range(5-i):
      print(" ", end = " ")
   k = 1
   for j in range(2 * i - 1):
      print(k, end = " ")
      k+=1
   print()
for i in range(4,0,-1):
   for j in range(5-i):
      print(" ", end = " ")
   k = 1
   for j in range(2 * i - 1):
      print(k, end = " ")
      k+=1
   print()

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7
    1 2 3 4 5
      1 2 3
        1

In [ ]:
for i in range(5,0,-1):
   for j in range(5 - i):
      print(" ", end = "")
   for j in range(2 * i - 1):
       print("*", end = "")
   print()

*********
 *******
  *****
   ***
    *

In [ ]:
for i in range(6,0,-1):
   for j in range(i):
      print("*", end = " ")
   print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:

for i in range(5,0,-1):
   for j in range(5 - i):
      print(" ", end = " ")
   for k in range(i):
      print("*", end = " ")
   print()

* * * * *
  * * * *
    * * *
      * *
        *

In [ ]:
for i in range(5, 0, -1):
   for j in range(5 - i):
      print(" ", end = " ")
   for j in range(i):
      print("*", end = " ")
   print()
for i in range(2,5+1):
   for j in range(5-i):
      print(" ", end = " ")
   for j in range(i):
      print("*", end = " ")
   print()

* * * * *
  * * * *
    * * *
      * *
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
   for j in range(5 - i):
      print(" ", end = " ")
   for k in range(i):
      print("*", end = " ")
   print()
for i in range(2, 5+1):
   for j in range(5 - i):
      print(" ", end = " ")
   for k in range(i):
      print("*", end = " ")
   print()

* * * * *
  * * * *
    * * *
      * *
        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range(1, 5+1):
   for j in range(5 - i):
      print(" ", end = " ")
   for j in range(5):
      for i in range(1, 5+1):

for i in range(4,0,-1):
   for j in range(5-i):
      print(" ", end = " ")

   for j in range(2*i-1):
      print("*", end = " ")
   print()
       else:
         print(" ", end = " ")
   print()

IndentationError: expected an indented block after 'for' statement on line 5 (ipython-input-3008422200.py, line 7)

In [ ]:
for i in range(1, 5+1):
   for j in range(5 - i):
      print(" ", end = " ")
   for j in range(5):
      print("*", end = " ")
   print()

        * * * * *
      * * * * *
    * * * * *
  * * * * *
* * * * *

In [ ]:
for i in range(1, 5+1):
   for j in range(5 - i):
      print(" ", end = "")
   for j in range(2 * i - 1):
       print("*", end = "")
   print()

    *
   ***
  *****
 *******
*********

In [ ]:
for i in range(5):
   for j in range(i):
      print("*", end = " ")
   for j in range(4):
      print("*", end = " ")

   print()
for i in range(3,0,-1):
   for j in range(i):
      print("*", end = " ")
   print()

* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * *
* *
*

In [ ]:
a = 65
chr(a)

'A'

In [ ]:
for i in range(1, 5+1):
   for j in range(5-i):
      print(" ", end = " ")
   k = 65
   for j in range(2 * i - 1):
      print(chr(k), end = " ")
      k+=1
   print()

        A
      A B C
    A B C D E
  A B C D E F G
A B C D E F G H I

In [ ]:
for i in range(1, 5+1):
   for j in range(5-i):
      print(" ", end = " ")

   for j in range(2 * i - 1):
      print(i, end = " ")

   print()

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [ ]:
k = 1

for i in range(1, 3+1):
   for j in range(3 - i):
      print(" ", end = " ")

   for j in range(2*i-1):

      print(k, end = " ")
      k += 1
   print()
for i in range(1, 3+1):
   for j in range(3 - i):
      print(" ", end = " ")

   for j in range(3):

      print(k, end = " ")
      k += 1
   print()

    1
  2 3 4
5 6 7 8 9
    10 11 12
  13 14 15
16 17 18

In [ ]:
for i in range(5,0,-1):
   for j in range(5 - i):
      print(" ", end = " ")
   for j in range(5):
      print(j, end = " ")
   print()

0 1 2 3 4
  0 1 2 3 4
    0 1 2 3 4
      0 1 2 3 4
        0 1 2 3 4

In [ ]:
for i in range(5,0,-1):
   for j in range(5 - i):
      print(" ", end = " ")
   k=1
   for j in range(i):
      print(k, end = " ")
      k += 1

   print()

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [ ]:
for i in range(5,0,-1):
   for j in range(5 - i):
      print(" ", end = " ")
   k=65
   for j in range(i):
      print(chr(k), end = " ")
      k += 1

   print()

A B C D E
  A B C D
    A B C
      A B
        A

In [ ]:
for i in range(1, 5+1):
   for j in range(5 - i):
      print(" ", end = " ")
   k = 65
   for j in range(5):
      print(chr(k), end = " ")
      k += 1
   print()

        A B C D E
      A B C D E
    A B C D E
  A B C D E
A B C D E

In [ ]:
for i in range(1, 5+1):
   for j in range(5 - i):
      print(" ", end = " ")
   k = 1
   for j in range(5):
      print(k, end = " ")
      k += 1
   print()

        1 2 3 4 5
      1 2 3 4 5
    1 2 3 4 5
  1 2 3 4 5
1 2 3 4 5

In [ ]:
# TUPLE QUESTION

In [ ]:
a = ('aman', 'krish', 'aakash','rakesh')
print(a[0])
print(a[-1])

aman
rakesh

In [ ]:
a = (1,2,3,4)
rev = []
for i in range(len(a)-1, -1, -1):
   rev.append(a[i])
rt = tuple(rev)
print(rt)

(4, 3, 2, 1)

In [ ]:
t = (1,2,3,2,2,4,2)
u = 2
count = 0
for i in t:
   if i == u:
     count += 1
print(count)

4

In [ ]:
t = (1,2,3,2,2,4,2)
freq = {}
for i in t:
   if i in freq:
     freq[i] += 1
   else:
        freq[i] = 1
print(freq)

{1: 1, 2: 4, 3: 1, 4: 1}

In [ ]:
a = (1,2,3,4)
b = (5,6,7,8)
c = a + b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
t = (1,2,3)
a, b, c = t
print(a,b,c)

1 2 3

In [ ]:
a = (1,2,3,4,5)
b = 8

if b in a:
   print(f"{b} available")
else:
    print(f"{b} not available")

8 not available

In [ ]:
a = (1,2,3,4,5)
for i in a:
   print(i)

1
2
3
4
5

In [ ]:
a = (1,2,3,4,(5,6))
for i in a:
   if isinstance(i, tuple):
     for j in i:
        print(j)

5
6

In [ ]:
a = (1,2,3,4,(5,6))
print(a[4][1])

6

In [ ]:
# sum of value
dict = {'a' : 10,
        'b' : 30,
        'c' : 49
        }
sum = 0
for i in dict.values():
   sum += i
print(sum)

89

In [ ]:
dict = {'a' : 10,
        'b' : 30,
        'c' : 49
        }
total = 0
count = 0

for i in dict.values():
   total += i
   count += 1
avg = total / count
print(avg)

29.666666666666668

In [ ]:
# find key and large value in dict
dict = {'a' : 10,
        'b' : 30,
        'c' : 49
        }
key = ""
max = 0
for k, v in dict.items():
   if v > max:
      max = v
      key = k
print(key, ":", max)

c : 49

In [ ]:
dict = {'a' : 10,
        'b' : 30,
        'c' : 49
        }

 : 0

In [ ]:
data = {'a': 10, 'b': 5, 'c': 20, 'd': 3}

keys = list(data.keys())
min = keys[0]
value = data[min]

for key in keys[1:]:
    if data[key] < value:
        value = data[key]
        min = key

print(min, ":", value)

d : 3

In [ ]:
# find count of key
data = {'a': 10, 'b': 5, 'c': 20, 'd': 3}
count = 0
for key in data:
   count += 1
print(count)

4

In [ ]:
data = {'a': 10, 'b': 5, 'c': 20, 'd': 3}
dict1 = {}

for k, v in data.items():
    dict1[k] = v * 2
print(dict1)

{'a': 20, 'b': 10, 'c': 40, 'd': 6}

In [ ]:
data = {'a': 100, 'b': 50, 'c': 70, 'd': 3}
for k, v in data.items():
   if v >= 50:
      print(k, ":", v)

a : 100
b : 50
c : 70

In [ ]:
data = {'a': 100, 'b': 50, 'c': 70, 'd': 3}
result = 1
for k, v in data.items():
   result *= v
print(result)

1050000