In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv(r"C:\Users\pc\Downloads\placement - placement.csv")

In [16]:
s = df.axes
s

[RangeIndex(start=0, stop=100, step=1),
 Index(['cgpa', 'resume_score', 'placed'], dtype='object')]

In [17]:
p = df.dtypes
p

cgpa            float64
resume_score    float64
placed            int64
dtype: object

In [18]:
b = df.empty ### it return true if there any missing data in dataframe otherwise false
b

False

In [19]:
df.isnull().sum() ## for check missing values.

cgpa            0
resume_score    0
placed          0
dtype: int64

In [22]:
df = df.dropna() ## for remove missing row

In [24]:
i = df.ndim ## number of axes (it is 2)
i

2

In [29]:
t = df.shape ## shape = n(rows), n(coloumns)
t
df.shape[0]  ## total rows in data
df.shape[1]  ## total columns in data

3

In [30]:
d = df.size  ## row count * column count
d

300

In [31]:
a = df.values  ## get a numpy array for df
a

array([[8.14, 6.52, 1.  ],
       [6.17, 5.17, 0.  ],
       [8.27, 8.86, 1.  ],
       [6.88, 7.27, 1.  ],
       [7.52, 7.3 , 1.  ],
       [8.77, 6.19, 1.  ],
       [5.34, 7.09, 0.  ],
       [6.56, 6.29, 0.  ],
       [6.32, 6.71, 0.  ],
       [7.69, 7.12, 1.  ],
       [6.18, 6.35, 0.  ],
       [5.44, 6.54, 0.  ],
       [6.09, 7.01, 0.  ],
       [8.5 , 5.09, 1.  ],
       [7.51, 6.25, 1.  ],
       [8.88, 5.93, 1.  ],
       [8.04, 7.64, 1.  ],
       [7.81, 8.71, 1.  ],
       [5.94, 5.88, 0.  ],
       [6.75, 8.11, 1.  ],
       [5.8 , 8.06, 0.  ],
       [6.53, 7.64, 0.  ],
       [6.16, 5.77, 0.  ],
       [6.05, 7.13, 0.  ],
       [8.22, 6.18, 1.  ],
       [7.76, 5.68, 1.  ],
       [6.27, 6.47, 0.  ],
       [5.51, 6.15, 0.  ],
       [7.46, 7.67, 1.  ],
       [6.19, 7.3 , 0.  ],
       [7.36, 7.15, 1.  ],
       [5.92, 7.02, 0.  ],
       [5.87, 7.96, 0.  ],
       [8.43, 7.73, 1.  ],
       [8.87, 7.19, 1.  ],
       [8.07, 7.48, 1.  ],
       [8.16, 7.56, 1.  ],
       [9.05, 8.21, 1.  ],
       [6.  , 8.72, 0.  ],
       [7.5 , 6.19, 1.  ],
       [8.25, 5.32, 1.  ],
       [8.68, 5.15, 1.  ],
       [6.9 , 6.91, 1.  ],
       [8.21, 7.95, 1.  ],
       [5.47, 5.92, 0.  ],
       [8.1 , 5.44, 1.  ],
       [5.83, 5.21, 0.  ],
       [7.05, 8.14, 1.  ],
       [5.54, 6.57, 0.  ],
       [5.46, 6.73, 0.  ],
       [8.22, 6.74, 1.  ],
       [6.54, 7.39, 0.  ],
       [5.9 , 7.5 , 0.  ],
       [6.  , 7.16, 0.  ],
       [5.92, 7.18, 0.  ],
       [6.94, 6.87, 1.  ],
       [6.13, 6.43, 0.  ],
       [6.34, 7.21, 0.  ],
       [6.47, 7.37, 0.  ],
       [5.95, 7.57, 0.  ],
       [5.87, 6.64, 0.  ],
       [6.89, 7.96, 1.  ],
       [5.75, 8.43, 0.  ],
       [8.65, 7.58, 1.  ],
       [7.93, 8.09, 1.  ],
       [6.04, 8.75, 0.  ],
       [8.35, 8.02, 1.  ],
       [6.59, 6.81, 1.  ],
       [6.01, 7.49, 0.  ],
       [8.06, 9.06, 1.  ],
       [7.12, 7.41, 1.  ],
       [7.34, 8.22, 1.  ],
       [7.63, 7.98, 1.  ],
       [5.76, 6.48, 0.  ],
       [5.54, 7.36, 0.  ],
       [6.34, 7.94, 1.  ],
       [9.4 , 5.5 , 1.  ],
       [5.88, 6.92, 0.  ],
       [5.79, 5.66, 0.  ],
       [5.27, 7.28, 0.  ],
       [7.83, 7.7 , 1.  ],
       [6.12, 6.72, 0.  ],
       [7.92, 6.06, 1.  ],
       [7.6 , 8.08, 1.  ],
       [5.76, 6.49, 0.  ],
       [6.72, 5.46, 0.  ],
       [6.18, 5.76, 0.  ],
       [5.62, 5.05, 0.  ],
       [8.07, 6.07, 1.  ],
       [5.99, 7.49, 0.  ],
       [5.85, 5.56, 0.  ],
       [8.28, 6.3 , 1.  ],
       [5.43, 6.18, 0.  ],
       [9.31, 7.39, 1.  ],
       [8.01, 4.95, 1.  ],
       [6.33, 6.38, 0.  ],
       [8.23, 7.76, 1.  ],
       [6.65, 7.78, 0.  ],
       [8.14, 5.63, 1.  ],
       [6.09, 6.61, 0.  ]])

In [32]:
df = df.copy()

In [33]:
p = df.sort_values(by = 'resume_score')
p

    cgpa  resume_score  placed
94  8.01          4.95       1
87  5.62          5.05       0
13  8.50          5.09       1
41  8.68          5.15       1
1   6.17          5.17       0
..   ...           ...     ...
17  7.81          8.71       1
38  6.00          8.72       0
65  6.04          8.75       0
2   8.27          8.86       1
69  8.06          9.06       1

[100 rows x 3 columns]

In [34]:
r = df.sort_index()  ## arrange data in ascending order
r

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [35]:
df['resume_score'].astype(float)

0     6.52
1     5.17
2     8.86
3     7.27
4     7.30
      ...
95    6.38
96    7.76
97    7.78
98    5.63
99    6.61
Name: resume_score, Length: 100, dtype: float64

In [44]:
df['cgpa'] = df['cgpa'].add(4)

In [45]:
df.head()

    cgpa  resume_score  placed
0  64.14          6.52       1
1  62.17          5.17       0
2  64.27          8.86       1
3  62.88          7.27       1
4  63.52          7.30       1

In [46]:
s = df.count()
s

cgpa            100
resume_score    100
placed          100
dtype: int64

In [47]:
p = df.max()
p

cgpa            65.40
resume_score     9.06
placed           1.00
dtype: float64

In [48]:
q = df.min()
q

cgpa            61.27
resume_score     4.95
placed           0.00
dtype: float64

In [50]:
g = df.filter(items=['cgpa' , 'placed'])
g
df[['cgpa' , 'placed']] ## second option of filtering

     cgpa  placed
0   64.14       1
1   62.17       0
2   64.27       1
3   62.88       1
4   63.52       1
..    ...     ...
95  62.33       0
96  64.23       1
97  62.65       0
98  64.14       1
99  62.09       0

[100 rows x 2 columns]

In [51]:
s = df.filter(items = [5,6] , axis = 0) ## axis = 0 means row wise opration
s

    cgpa  resume_score  placed
5  64.77          6.19       1
6  61.34          7.09       0

In [52]:
t = df.filter(like = '5' , axis = 0)
t

     cgpa  resume_score  placed
5   64.77          6.19       1
15  64.88          5.93       1
25  63.76          5.68       1
35  64.07          7.48       1
45  64.10          5.44       1
50  64.22          6.74       1
51  62.54          7.39       0
52  61.90          7.50       0
53  62.00          7.16       0
54  61.92          7.18       0
55  62.94          6.87       1
56  62.13          6.43       0
57  62.34          7.21       0
58  62.47          7.37       0
59  61.95          7.57       0
65  62.04          8.75       0
75  62.34          7.94       1
85  62.72          5.46       0
95  62.33          6.38       0

In [54]:
p = df.rename(columns = {'cgpa':'updated_cgpa',
                          'resume_score':'semester_marks'}) # how to rename a coloumn
p

    updated_cgpa  semester_marks  placed
0          64.14            6.52       1
1          62.17            5.17       0
2          64.27            8.86       1
3          62.88            7.27       1
4          63.52            7.30       1
..           ...             ...     ...
95         62.33            6.38       0
96         64.23            7.76       1
97         62.65            7.78       0
98         64.14            5.63       1
99         62.09            6.61       0

[100 rows x 3 columns]

In [55]:
df['half'] = df['cgpa'].where(df['cgpa']>7 , other = 0)

In [56]:
df.head()

    cgpa  resume_score  placed   half
0  64.14          6.52       1  64.14
1  62.17          5.17       0  62.17
2  64.27          8.86       1  64.27
3  62.88          7.27       1  62.88
4  63.52          7.30       1  63.52