<a href="https://colab.research.google.com/github/krishkumawat0416-debug/PYTHON/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = ['sam', 'raj', 45, 48.12]
type(a)

list

In [ ]:
# indexing (forward)
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
raj
45
48.12

In [ ]:
# reverse indexing
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])

48.12
45
raj
sam

In [ ]:
# mutability
a = ['sam', 'raj', 45, 48.12]
print(a)
a[1] = 'krish'
print(a)

['sam', 'raj', 45, 48.12]
['sam', 'krish', 45, 48.12]

In [ ]:
# loop in list
a =['sam', 'raj', 45, 48.12]

# first indexing
for i in a:
  print(i , end = " ")

sam raj 45 48.12

In [ ]:
## second method
# len(a)

for i in range(len(a)):
  print(a[i], end = " ")

sam raj 45 48.12

In [ ]:
# properties of list
# (1). concatenation
a = [1,2,3]
b = ['sam', 'raj', 4 ,5]
a + b

[1, 2, 3, 'sam', 'raj', 4, 5]

In [ ]:
# (2). replication
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
### slicing in list
a = ['sam', 'raj', 45, 48.12, 'krish', 'golu', [1,'maths',56]]
print(a[1:4])
print(a[3:])
print(a[:3])
print(a[:])
print(a[1][2])
print(a[6][1][2:4])

['raj', 45, 48.12]
[48.12, 'krish', 'golu', [1, 'maths', 56]]
['sam', 'raj', 45]
['sam', 'raj', 45, 48.12, 'krish', 'golu', [1, 'maths', 56]]
j
th

In [ ]:
# function in list

In [ ]:
# (1). len() ---> it will return lenght of list
a = [1,2,3,4]
len(a)

4

In [ ]:
# (2). index() ---> it will return indexing of a list.
a = ['sam', 'raj', 45, 74.56]
print(a.index('raj'))

1

In [ ]:
# (3), count ---> it will return frequency of an element.
a = [1,2,3,4,4,5,5,]
a.count(4)

2

In [ ]:
# (4). append()---> it will add element in the  last indexing of an list

a =  ['sam', 'raj', 45, 74.56]
print(a)
a.append('krish')
print(a)

['sam', 'raj', 45, 74.56]
['sam', 'raj', 45, 74.56, 'krish']

In [ ]:
# (5). insert(index , object) --> it will add element at a given indexing.

a = ['sam', 'raj', 45, 74.56]
print(a)
a.insert(1, "krish")
print(a)

['sam', 'raj', 45, 74.56]
['sam', 'krish', 'raj', 45, 74.56]

In [ ]:
# (6). pop() --> it will remove element from last indesxing.
a = ['sam', 'raj', 45, 74.56]
print(a)
a.pop()
print(a)

['sam', 'raj', 45, 74.56]
['sam', 'raj', 45]

In [ ]:
# (7). remove()-->  it will remove element from any indexing

a = ['sam', 'raj', 45, 74.56]
print(a)
a.remove('raj')
print(a)
a.remove(45)
print(a)

['sam', 'raj', 45, 74.56]
['sam', 45, 74.56]
['sam', 74.56]

In [ ]:
# (8), sort()---> it will arrange element in ascending order

a = [1,3,4,5,2]
print(a)
a.sort()
print(a)

[1, 3, 4, 5, 2]
[1, 2, 3, 4, 5]

In [ ]:
# (9). reverse()---> it will reverse a list

a = [1,4,6,2,8]
print(a)
a.reverse()
print(a)

[1, 4, 6, 2, 8]
[8, 2, 6, 4, 1]

In [ ]:
# (10). min()---> it will return minimum number.

a = [2,3,2,1,5,6]
min(a)

1

In [ ]:
# (11). max()---> it will return maximum number of list

a = [2,3,2,1,5,6]
max(a)

6

In [ ]:
# (12). sum() ---- > it will add all elements in a list

a = [2,3,2,1,5,6]
sum(a)

19

In [ ]:
a = []
size = int(input("enter your size: "))
for i in range(size):
   val = input("enter your item: ")
   a.append(val)
print(a2
      )

enter your size: 3
enter your item: 1
enter your item: 3
enter your item: 4
['1', '3', '4']

In [ ]:
# how can we create a user defiend list ?

a = []
size = int(input("enter your size:"))
for i in range(size):
  val = input("enter your item:")
  a.append(val)
print(a)

enter your size:2
enter your item:krish
enter your item:krish1
['krish', 'krish1']

In [ ]:
# Q.1 create a user defined list who return total sum of all numbers in a list.

a = []
size = int(input("enter your size:"))
for i in range(size):
  val = int(input("enter your number:"))
  a.append(val)
print(a)
sum = 0
for i in range(len(a)):
  sum = sum + a[i]
print("sum=", sum)

enter your size:4
enter your number:1
enter your number:2
enter your number:3
enter your number:4
[1, 2, 3, 4]
sum= 10

In [ ]:
# Q.2 write a program who print maximum number in a list.

a = [1,2,3,44,56,1,78]
max = 0
for i in range(len(a)):
  if a[i] > max:
   max = a[i]
print(max)

78

In [ ]:
# Q.3 create a user defind list and count how many even number are in a list

a = [];
size = int(input("enter your list number:"))
for i in range(size):
  val = int(input("enter your number:"))
  a.append(val)
print(a)
count = 0
for i in range(len(a)):
  if a[i]%2 == 0:
   count = count + 1
print("total even number is:", count)

enter your list number:6
enter your number:45
enter your number:46
enter your number:78
enter your number:23
enter your number:58
enter your number:3
[45, 46, 78, 23, 58, 3]
total even number is: 3

In [ ]:
# multuply of a list
a = [];
size = int(input("enter your list number:"))
for i in range(size):
  val = int(input("enter your number:"))
  a.append(val)
print(a)
multi = 1
for i in range(len(a)):
  multi = multi*a[i]

print("total:", multi)

enter your list number:4
enter your number:1
enter your number:2
enter your number:3
enter your number:4
[1, 2, 3, 4]
total: 24

In [ ]:
# unique number
a = [1,2,2,3,2,4,5]
unique = []
for i in a:
  if i not in unique:
    unique.append(i)

print(unique)

[1, 2, 3, 4, 5]

In [ ]:
# reverse a list without slicing and function
a = [1,2,3,4,5]
rev = []
for i in a:
  rev = [i] + rev
print(rev)

[5, 4, 3, 2, 1]

In [ ]:
# common item append in 1 list
a = [1,2,3,4]
b = [3,4,5,6]
c = []
for i in a:
  if i in b:
    c.append(i)
print(c)

[3, 4]

In [ ]:
# Q.8 flatten a nested list
# a = [[1,2], [3,4], [5,6]]
# output = [1,2,3,4,5,6]

a = [[1,2], [3,4], [5,6]]
b = []
for i in a:
  for j in i:
    b.append(j)

print(b)

[1, 2, 3, 4, 5, 6]

In [ ]:
# syntax : [expression i for i in condition]

In [ ]:
# Q.1 create a list of suare of numbers from 1 to 5.

a = [i**2 for i in range(1,6)]
a

[1, 4, 9, 16, 25]

In [ ]:
# Q.2 create a list of even numbers from 1 to 10.
a = [i for i in range(1,11) if i%2 == 0]
a

[2, 4, 6, 8, 10]

In [ ]:
# Q.3 create a list of squre of odd number 1 to 10.

a = [i**2 for i in range(1,11) if i%2 != 0]
a

[1, 9, 25, 49, 81]

In [ ]:
# Q.4 create a list of first letters of each word in a list.

a = ['apple' , 'banana', 'cherry']
b = [i[0]for i in a]
b

['a', 'b', 'c']

In [ ]:
a = ['apple' , 'banana', 'cherry']
b = [i[0] for i in a]
b

['a', 'b', 'c']

In [ ]:
# Q.5 extract only vowels from a given string us use comprehension

a = "programming is fun"
b = [i for i in a if i in "aeiouAEIOU"]
b

['o', 'a', 'i', 'i', 'u']

In [ ]:
# Q.6 consonants
a = "programming is fun"
b = [i for i in a if i not in "aeiouAEIOU"]
b

['p', 'r', 'g', 'r', 'm', 'm', 'n', 'g', ' ', 's', ' ', 'f', 'n']

In [ ]:
# Q.7 divisible by 5 for n number

a = [i for i in range(1,31) if i%5 == 0 and i%10 != 0]
a

[5, 15, 25]

In [ ]:
# Q.8 first and last same word

a = ["Anna", "Arora", "Sam", "Nitin", "Punit", "Raj", "Mam"]
b = [i for i in a if i[0].lower() == i[-1].lower()]
b

['Anna', 'Arora', 'Nitin', 'Mam']

In [ ]:
# Q.9 extract words longer than 3 letters from a sentence.

a = "AI is the future of technology"
b = [i for i in a.split() if len(i) > 3]
b

['future', 'technology']

In [ ]:
# Q.10 from a list of names keep only names that starts with 'A'.

a = ["Amit", "rohit", "Anil", "Sunil", "Ajay", "Ravi"]
b = [i for i in a if i.startswith('A')]
b

['Amit', 'Anil', 'Ajay']

In [ ]:
# tuple in python ---->
# (1). identification --- ()
# (2). immutable data type --> we cannot change or update the values at a run time.
# (3). indexing start from 0 and lenght start from 1.
# (4). this is like a container in which we can store different - different data types elements.

In [ ]:
a = ('sam', 'raj', '45', '45.67')
type(a)

tuple

In [ ]:
a = 7
print(type(a))
a = 7,
print(type(a))

<class 'int'>
<class 'tuple'>

In [ ]:
a = ('sam', 'raaj', '45', '45.67')
for i in range(len(a)):
    print(a[i])

sam
raaj
45
45.67

In [ ]:
for num in a:
  print(num)

sam
raaj
45
45.67

In [ ]:
# Indexing in tuple
a = ('sam', 'raaj', '45', '45.67')
print(a[0])
print(a[1])
print(a[2])
print(a[3])

sam
raaj
45
45.67

In [ ]:
# slicing in tuple
a = ('sam', 'raaj', '45', '45.67', '12', '34', 'krish')
print(a[0:3])
print(a[4:])
print(a[:3])
print(a[:])
print(a[0][1])

('sam', 'raaj', '45')
('12', '34', 'krish')
('sam', 'raaj', '45')
('sam', 'raaj', '45', '45.67', '12', '34', 'krish')
a

In [ ]:
a = (1,2,3,4)
print(type(a))
b = list(a)
print(type(b))

b.append(5)
c = tuple(b)
print(c)
print(type(c))

<class 'tuple'>
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
a = (1,2,3)
print(type(a))
a,b,c = (1,2,3)

print(type(a))
print(a)
print(b)
print(c)

<class 'tuple'>
<class 'int'>
1
2
3

In [ ]:
nested_tuple = (1,2,3,4,(5,6))
nested_tuple[4][0]

5

In [ ]:
# set = sets are muttablea and unordered and indexing not possible

In [ ]:
# creating set

a = {1,2,3,4}
print(type(a))

<class 'set'>

In [ ]:
a = {}
print(type(a))

<class 'dict'>

In [ ]:
# empety set
s = set()
print(type(s))

<class 'set'>

In [ ]:
# duplicate not allowed in set
# s.add(10)
s.add(10)
s.add(20)
print(s)

s.clear()
s.update({2,3})
print(s)

{10, 20}
{2, 3}

In [ ]:
# common element ko nikalta hai
a = {1,2,3,4}
b = {3,4,5}
b.intersection(a)

{3, 4}

In [ ]:
a = {1,2,3,4}
b = {3,4,5}
b.union(a)

{1, 2, 3, 4, 5}

In [ ]:
# एक set के वो elements जो दूसरे set में नहीं हैं।
a = {1,2,3,4}
b = {3,4,5}
a.difference(b)

{1, 2}

In [ ]:
# duplicate not allowed in set
a = {1,2,2,3,3,4}
print(set(a))

{1, 2, 3, 4}

In [ ]:
# Loop in tuple
a = ('sam', 'raaj', '45', '45.67')

# method - 1
for i in a:
  print(i , end = " ")

sam raaj 45 45.67

In [ ]:
# method -- >
for i in range(len(a)):
  #  print(i, end = " ")
  print(a[i], end = " ")

0 1 2 3

In [ ]:
# properties in tuple
#(1). concatenation
a = (1,2,3)
b = (4,5,6)
c = a + b
c

(1, 2, 3, 4, 5, 6)

In [ ]:
# (2). replication
a = (1,2,3)
a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
## immutable data type
a = ('sam', 'raaj', '45', '45.67')
print(a)
b = list(a)
b[1] = "krish"
c = tuple(b)
print(c)

('sam', 'raaj', '45', '45.67')
('sam', 'krish', '45', '45.67')

In [ ]:
# user defind tuple
a = []
num = int(input("Enter number of elements for first tuple:"))
for i in range(num):
  val = input("enter your data:")
  a.append(val)
  b = tuple(a)
print(b)
x = []
num = int(input("Enter number of elements for second tuple:"))
for i in range(num):
  val = input("enter your data:")
  x.append(val)
y = tuple(x)
print(y)
m = b + y
print(m)
z = list(m)
removeitem = input("Enter the item you want to remove")
if removeitem in z:
   z.remove(removeitem)
else:
   print("item not found")
l = tuple(z)
print(l)

Enter number of elements for first tuple:2
enter your data:krish
enter your data:23
('krish', '23')
Enter number of elements for second tuple:2
enter your data:kirhs
enter your data:45
('kirhs', '45')
('krish', '23', 'kirhs', '45')
Enter the item you want to remove45
('krish', '23', 'kirhs')

In [ ]:
# list append extend
#mmutable
#ordred
li = [1,2,3,4]
li2 = [4,5]
# li.append(li2)
print(li)
li.extend(li2)
print(li)

[1, 2, 3, 4]
[1, 2, 3, 4, 4, 5]

In [ ]:
# sort and sorted diffrence

a = [3,4,2,1]
sorted(a)

[1, 2, 3, 4]

In [ ]:
arr = [2,3,5,4,1]
arr.sort()
print(arr)

[1, 2, 3, 4, 5]

In [ ]:
# .split() ---> Python में .split() एक string method है जो किसी string को तोड़कर (split करके) एक list में बदल देता है, किसी separator ke jese

# यानी, जब आप कोई लंबी string को छोटे टुकड़ों में बाँटना चाहें — तो split() method का इस्तेमाल करते हैं।

name,age = input("enter your name and age: ").split()  # (",")
print(name)
print(age)

enter your name and age: krish,21
krish
21

In [ ]:
name,age = input("enter your name and age: ").split(",")
print(name)
print(type(int(age)))

enter your name and age: krish,21
krish
<class 'int'>

In [ ]:
num, num1 = input("enter your numbers: ").split()
num = int(num)
num1 = int(num1)
c = num + num1
print(c)

enter your numbers: 2 3
5

In [ ]:
# Python में map() एक built-in function है जिसका इस्तेमाल हम तब करते हैं जब किसी function को बार-बार हर element पर apply करना हो
#  (जैसे list के हर item पर एक जैसा काम करना)।

# यानी, एक ही function को list (या किसी भी iterable) के हर element पर एक साथ apply करने के लिए map() का उपयोग होता है।

In [ ]:
li = list(map(int, input("enter your list: ").split()))
print(li)
# print(type(li))
# print(type(li[0]))
sum = 0
for i in li:
  sum = sum + i
print(sum)

enter your list: 1 2 3 4 5
[1, 2, 3, 4, 5]
15

In [ ]:
li = [1,2,3,4,5]
max  = li[0]
for i in range(len(li)):
  if li[i] > max:
    max = li[i]
print(max)

5

In [ ]:
# even number in list
li = [2,1,4,7]
for i in li:
  if i%2 == 0:
     print(i)

2
4

In [ ]:
# squre of list
li = [2,1,4,7]
b = []
for i in li:
  a = i**2
  b.append(a)
print(b)

[4, 1, 16, 49]

In [ ]:
# find the second highest for the list
# print duplicate the list
# reversing elements from the list
# counting total even and odd numbers from the list

In [ ]:
li = list(map(int, input("enter your list: ").split()
even = 0
odd = 0
for i in li:
  if i%2 == 0:
      even += 1
  else:
      odd += 1
print("total even:", even)
print("total odd:", odd)

enter your list: 2 3 45 65 34 38
total even: 3
total odd: 3

In [ ]:
a = [1,2,3,4,5]
rev = []
for i in a:
  rev = [i] + rev
print(rev)

[5, 4, 3, 2, 1]

In [ ]:
li = [1,2,4,3,5,6]
li.sort()
print(li[-2])

5

In [ ]:
# dictionry is the data type which stores the key and value pairs and its muttable and unordered
# dict = {"name":"krish"}
# left side key and right side values

In [ ]:
li = [1,2,3,4,5]
for index, value in enumerate(li):
  print(f"Index : {index} -> value : {value}")

Index : 0 -> value : 1
Index : 1 -> value : 2
Index : 2 -> value : 3
Index : 3 -> value : 4
Index : 4 -> value : 5

In [ ]:
dict = {
    "name": "krish",
    "batch": "python - a18",
    "mobile no.": 983476234274
}
dict.items()
for key,value in enumerate(dict.items()):
  print(f"{key} - > {value}")

0 - > ('name', 'krish')
1 - > ('batch', 'python - a18')
2 - > ('mobile no.', 983476234274)

In [ ]:
for key, value in dict.items():
  print(f"{key} : {value}")

name : krish
batch : python - a18
mobile no. : 983476234274

In [ ]:
dict = {
    "name": "krish",
    "class": "bca - passout",
    "subject": "bca",
    "college": "university commerce college"
}
for key, value in dict.items():
    print(f"{value}")

krish
bca - passout
bca
university commerce college

In [ ]:
# buit in functions

In [ ]:
# .get() --> return the value for key if key is in the dicitonary else default
dict.get("name")

'krish'

In [ ]:
# .pop --> remove speicific key and return the corresponding value
dict.pop("class")

'bca - passout'

In [ ]:
# .popitem --> it removes the item last key values in the dictionary
dict.popitem()
print(dict)

{'subject': 'bca'}

In [ ]:
# .setdefault ---> add default item
dict.setdefault("study hour", 0)
print(dict)

{'subject': 'bca', 'study hour': 0}

In [ ]:
# duplicate or frequency
li = [1,2,3,4,3,2,2,1,1,4,5]
dict = {}
for num in li:
  if num in dict:
    dict[num] += 1
  else:
    dict[num] = 1
# print(dict)
for key, value in dict.items():
  if value > 1:
    print(key)

1
2
3
4

In [ ]:
# print all the keys of the dictionaray use the loops
# check if name excite the dicitonary
# count the frequency in given string

In [ ]:
dict = {
    "name": "krish",
    "class": "data engineer",
    "batch": "a18"
}
for key, value in dict.items():
   print(key)

name
class
batch

In [ ]:
dict = {
    "name": "krish",
    "class": "data engineer",
    "batch": "a18"
}
check = input("enter your key name: ")
for key, value in dict.items():
   if key in check:
     print("key exists")
     break
else:
  print("key not exists")

enter your key name: jokr
key not exists

In [ ]:
dict = {
    "name": "krish",
    "class": "data engineer",
    "batch": "a18"
}

check = input("Enter your key name: ")

if check in dict:
    print("key exists")
else:
    print("key not exists")

Enter your key name: joke
key not exists

In [ ]:
a = "i love coding"
freq = {}
for i in a:
  if i in freq:
    freq[i] += 1
  else:
    freq[i] = 1
for key, value in freq.items():
   print(key, ":", value)

i : 2
  : 2
l : 1
o : 2
v : 1
e : 1
c : 1
d : 1
n : 1
g : 1

In [ ]:
# print sum of list
li = [123, 456, 789]
sum = 0
for num in li:
  while num > 0:
    digit = num % 10
    sum += digit
    num //= 10
print(sum)

45

In [ ]:
# count duplicate in list
# kis kis ke duplicate hai
li = [1,2,3,3,1,4,5,4]
count = 0
dup = []
for num in li:
    if num in dup:
      count += 1
    dup.append(num)
print(count)

3

In [ ]:
# count unique only
li = [1,2,3,1,2]
dic = {}
for num in li:
   if num in dic:
      dic[num] += 1
   else:
      dic[num] = 1
count = 0
for key, value in dic.items():
    if value == 1:
       count += 1
      #  print(key)
print(count)

3
1

In [ ]:
# move zero at end
li = [1,2,3,4,0,5]
zero_count = 0
for i in range(len(li)):
    if li[i] != 0:
       li[zero_count] = li[i]
      #  print(f"index -> {zero_count}, i -> {i}, -> {li}")
       zero_count += 1

while zero_count < len(li):
     li[zero_count] = 0
     zero_count += 1
print(li)

index -> 0, i -> 0, -> [1, 2, 3, 4, 0, 5]
index -> 1, i -> 1, -> [1, 2, 3, 4, 0, 5]
index -> 2, i -> 2, -> [1, 2, 3, 4, 0, 5]
index -> 3, i -> 3, -> [1, 2, 3, 4, 0, 5]
index -> 4, i -> 5, -> [1, 2, 3, 4, 5, 5]
[1, 2, 3, 4, 5, 0]

In [ ]:


li = [1, 2, 3, 4, 0, 0, 5]
zero_count = 0

for i in range(len(li)):
    if li[i] != 0:
        li[zero_count] = li[i]
        zero_count += 1

li[zero_count:] = [0] * (len(li) - zero_count)
print(li)

[1, 2, 3, 4, 5, 0, 0]

In [ ]:
li = [1, 2, 3, 4, 0, 0, 5]
li[:] = [x for x in li if x] + [0] * li.count(0)
# print(li)
 li

[1, 2, 3, 4, 5, 0, 0]

In [ ]:
# [1,2,3,4] output [[1], [1,2],[1,2,3],[2,3],[3]]
li = [1,2,3,4]
li2 = []
for i in range(len(li)):
    for j in range(i+1, len(li)+1):
      li2.append(li[i:j])
print(li2)

[[1], [1, 2], [1, 2, 3], [1, 2, 3, 4], [2], [2, 3], [2, 3, 4], [3], [3, 4], [4]]

In [ ]:
# product except self [1,2,3,4] -> [24,12,8,6]

In [ ]:
# second largest number

li =[1,2,3,4,5,6]

max = 0
second = 0
for i in li:
  if i > max:
    second = max
    max = i
  elif i > second and i < max:
    second = i
print(second)

5

In [ ]:
li =[-1,-2,-3,-4,-5,0]

max = float("-inf")
second = float("-inf")
for i in li:
  if i > max:
    second = max
    max = i
  elif i > second and i < max:
    second = i

print(second)

-1

In [ ]:
li =[1,2,3,4,5,6]

max = 0
second = 0
for i in li:
  if i > max:
    second = max
    max = i
  elif i > second and i < max:
    second = i
  else i < second and i > max:
 print(second)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 12)

In [ ]:
li = [1,2,3,4]
multi = 1
for i in li:
  multi = multi*i
a = []
for num in li:
  b = multi//num
  a.append(b)
print(a)

[24, 12, 8, 6]

In [ ]:
a = "python is good"
for i in range(len(a)):
  i.reverse()
print(i)

AttributeError: 'int' object has no attribute 'reverse'

In [ ]:
a = "python is good".split()
rev.reverse(rev)
print(rev)

AttributeError: 'tuple' object has no attribute 'reverse'

In [ ]:
dict = {
    "name": "krish",
    "class": "data engineer",
    "batch": "a18"
}

print(len(dict))
print(type(dict))

3
<class 'dict'>

In [ ]:
# 2 list convert dictionary

li = [1,2,3,4]
names = ["krish", "krish1", "krish2", "krish3"]
dict = {}
for i in range(len(li)):
  dict[li[i]] = names[i]
  # dict[names[i]] = li[i]

print(dict)

{1: 'krish', 2: 'krish1', 3: 'krish2', 4: 'krish3'}

In [ ]:
# zip --->

li = [1,2,3,4]
names = ["krish", "krish1", "krish2", "krish3"]

list(zip(li, names))

[(1, 'krish'), (2, 'krish1'), (3, 'krish2'), (4, 'krish3')]

In [ ]:
li = [1,2,3,4]
names = ["krish", "krish1", "krish2", "krish3"]

k = dict(zip(li, names))
print(k)

{1: 'krish', 2: 'krish1', 3: 'krish2', 4: 'krish3'}

In [ ]:
d = {
    "name": "krish",
    "subject": ["math", "python"],
    "class": "a18"
}
print(d)
d["subject"].append("machine learning")
print(d)

{'name': 'krish', 'subject': ['math', 'python'], 'class': 'a18'}
{'name': 'krish', 'subject': ['math', 'python', 'machine learning'], 'class': 'a18'}

In [ ]:
#  empty dictionary square print with compraihansion
square = {}
for i in range(1,10):
    square[i] = i**2
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
square = {key : key ** 2 for key in range(1, 10)}
square

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
nums = [x for x in range(1, 10) if x%2 == 0]
nums

[2, 4, 6, 8]

In [ ]:
# intersection of two list
a = [1,2,3,4]
b = [3,4,5,6]
c = []
for i in a:
  if i in b:
    c.append(i)
print(c)

# for i in a:
#     if i in b :
#       print(i)
#       b.remove(i)

[3, 4]

In [ ]:
# reverse the list without using the slicing method
li = [1,2,3,4,5]
rev = []
for i in li:
  rev = [i] + rev
print(rev)

[5, 4, 3, 2, 1]

In [ ]:
li = [1,2,3,4,5]
left = 0
right = len(li) - 1
while left < right:
     li[left], li[right] = li[right], li[left]
     left += 1
     right -= 1
li

[5, 4, 3, 2, 1]

In [ ]:
# def function

def dost(paise):
  if paise > 10:
     print("i have bought coffee for you")
  else:
     print("itne paise me nhi aayega")
dost(20)

i have bought coffee for you

In [ ]:
def dost(paise):
   if paise == 20:
     return "chips"
   elif paise == 50:
        return " cold Drink"
   else:
       return "too low"

print(dost(50))

 cold Drink

In [ ]:
# def subtraction(a,b):
def addition(a,b):

    return a + b
result = addition(5, 6)
print(result)

#     return a - b
# result = subtraction(6, 5)
# print(result)

11

In [ ]:
# using function
def rev(start, end, li):
    while start < end:
          li[start], li[end] = li[end], li[start]
          start += 1
          end -= 1

li = [1,2,3,4,5]
k = 2

rev(0, len(li) - 1, li)
rev(0, k - 1, li)
rev(k, len(li) - 1, li)
print(li)

[4, 5, 1, 2, 3]

In [ ]:
# into positional argument

def details(name, age):
    return f"I am {name}, my age is {age}"
details("krish", 21)

'I am krish, my age is 21'

In [ ]:
# variable length keyword arguments
def contact(**kwargs):
     for key, values in kwargs.items():
         print(f"{key} - {values}")

contact(name = "krish", num = 2345, loc = " jaipur")

name - krish
num - 2345
loc -  jaipur

In [ ]:
# variable length keyword arguments

def contact(**kwargs):
   print(kwargs)

contact(name = "krish", num = 2345, loc = " jaipur")

{'name': 'krish', 'num': 2345, 'loc': ' jaipur'}

In [ ]:
# deafualt arguments

def greeting(name = "user"):
    return f"hello {name}!"
print(greeting("krish"))

hello krish!

In [ ]:
# keyword arguments
# position doesnt matter
def student_details(name, course, location):
    print(f"student Name: {name}, course: {course}, location: {location}")

student_details(course = 'python', name = 'krish', location = 'jaipur')

student Name: krish, course: python, location: jaipur

In [ ]:

def profile(**details):
    for k, v in details.items():
        print(f"{k} - {v}")
profile(Name="krish", batch="a18")

Name - krish
batch - a18

In [ ]:
def profile(**details):
    for k, v in details.items():
        print(f"{k} - {v}")

profile(Name="krish", batch="a18")

Name - krish
batch - a18

In [ ]:
def add(*nums):
  #  return sum(nums)
   return max(nums)
print(add(1,2,3,4,5,6,7,8,9))

9

In [ ]:
# local and global variable

In [ ]:
# global variable

a = 20

def hello():
   #local variable
   b = 10
   global a
   print(a)
hello()

20

In [ ]:
# bank management stsyem
# global vatiable

balance = 1000

# function for the withraw amount
def withdraw(amount):
    global balance
    if amount > 0 and balance >= amount:
       balance -= amount
       print(f"you've suessfully withdraw {amount}")
       print(f"Your balance is {balance}")
    else:
        print("enter valid amount")

# function for deposit the balance

def deposit(amount):
    global balance
    if amount > 0:
       balance += amount
       print(f"you've suessfully deposit {amount}")
       print(f"Your remaining balance is {balance}")


deposit(100)
withdraw(200)

you've suessfully deposit 100
Your remaining balance is 1100
you've suessfully withdraw 200
Your balance is 900

In [ ]:
# student grading sydtem
# nested functions

def grade(marks):
   #nested function
   def calculate_percentage(marks):
      p = (marks/100)*100
      return p
   # nested function
   def assign_grade(percentage):
      if percentage > 90 and percentage <= 100:
         return "A"
      elif percentage > 80 and percentage <= 90:
         return "B"
      elif percentage > 70 and percentage <= 80:
          return "C"
      else:
          return "fail"
   # here we're calling the calculate percentange function (marks -> percentage)
   percent = calculate_percentage(marks)

   # here we're calling the assign grade function(percentage -> grade)
   grad = assign_grade(percent)

   # marks -> grade
   return grad

Grade = grade(91)
print(Grade)

A

In [ ]:
# map() ---> this is build in function and each item in an iterable

a = list(map(int, input("enter your number ").split()))

sum = 0
for num in a:
   sum += num
print(sum)

enter your number 1 2 3 4
10

In [ ]:
a = list(map(int, input("enter your number ").split()))
for num in a:
   print(num**2)

enter your number 1 2 3 4
1
4
9
16

In [ ]:
li = [1,2,3,4]
list(map(lambda X: X ** 2, li))

[1, 4, 9, 16]

In [ ]:
s = lambda x: x **2
print(s(4))

16

In [ ]:
li = [x for x in range(10)]

s = lambda x : x ** 2
list(map(s, li))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
filetered = list(filter(lambda x : x % 2 == 0, li))
print(filetered)

[0, 2, 4, 6, 8]

In [ ]:
from functools import reduce

reduce(lambda x, y : x + y, li)

45

In [ ]:
# recurstion ---> when the function calls itself then that process of calling that function is know recurstion
# febonacci

a = 0
b = 1
for i in range(1,10):
   print(a, end = " ")
   a, b = b, a + b

0 1 1 2 3 5 8 13 21

In [ ]:
# writing the n number  fibbonacci number

def fibb(n):
   # base case

     if n == 1:
        return 1
     if n == 0:
        return 0
     return fibb(n-1) + fibb(n-2)
#  print(fibb(3))

total_sum = 0
for i in range(10):
     fib_num = fibb(i)
     print(fib_num, end = " ")
     total_sum += fib_num
print("\nSum of the first 10 Fibonacci numbers:", total_sum)

0 1 1 2 3 5 8 13 21 34
Sum of the first 10 Fibonacci numbers: 88

In [ ]:
# print factorial

def fact(n):
   if n == 1 or n == 0:
      return 1
   return n * fact(n-1)
print(fact(5))

120

In [ ]:
# factorial
n = 5
fact = 1
for i in range(1, n+1):
   fact *= i
print(fact)

120

In [ ]:
li = [4,3,21,10]
li.sort()
print(li[-1])

21

In [ ]:
li = [4,3,21,10]
max = li[0]
for i in range(len(li)):
   if li[i] > max:
      max = li[i]
print(max)

21

In [ ]:
li =[1,2,3,4,5,6]

max = 0
second = 0
for i in li:
  if i > max:
    second = max
    max = i
  elif i > second and i < max:
    second = i
print(second)

5

In [ ]:
li = [1,2,3,4,5]

In [ ]:
li = [1,2,3,4,5]
k = 0
last = li.pop()
li.insert(k, last)
print(li)

[5, 1, 2, 3, 4]

In [ ]:
def reverse(left, right, li):
    while left < right:
        li[left], li[right] = li[right], li[left]
        left += 1
        right -= 1

li = [1,2,3,4,5]
k = 3
reverse(0, len(li) - 1, li)
reverse(0, k - 1, li)
reverse(k, len(li) - 1, li)

print(li)

[3, 4, 5, 1, 2]

In [ ]:
a = [1,2,3,4,5]
b = [3,4,5,6,7]
c = []
for i in a:
  if i in b:
    c.append(i)
print(c)

[3, 4, 5]

In [ ]:
li = [1,2,3,4,5]
rev = []
for i in li:
   rev = [i] + rev
print(rev)

[5, 4, 3, 2, 1]

In [ ]:
a = 100
b = 50

try:
   c = a/b
except ZeroDivisionError:
    print("please enter the value greater then 0")
else:
    print(c)

2.0

In [ ]:
try:
    n = int(input("Enter an integer: "))
    print("You entered:", n)
except ValueError:
    print("Please enter a valid integer.")

Enter an integer: 34
You entered: 34

In [ ]:
try:
    with open("data.txt", "r") as file:
        content = file.read()
        print(content)
except FileNotFoundError:
    print("Error: 'data.txt' was not found.")

Error: 'data.txt' was not found.

In [ ]:
s = input("Enter a number: ")

try:
    num = int(s)
    print("Integer value:", num)
except ValueError:
    print("Error: Cannot convert to an integer.")

Enter a number: 23
Integer value: 23

In [ ]:
numbers = [10, 20, 30, 40, 50]

try:
    index = int(input("Enter an index (0 to 4): "))
    print("Value at index", index, "is", numbers[index])
except IndexError:
    print("Error: Index out of range.")
# except ValueError:
#     print("Error: Please enter a valid integer.")

Enter an index (0 to 4): 23
Error: Index out of range.

In [ ]:
try:
    a = int(input("Enter the numerator: "))
    b = int(input("Enter the denominator: "))
    c = a / b
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except ValueError:
    print("Error: Please enter valid numbers.")
else:
    print("Result:", c)
    print("Division completed successfully.")

Enter the numerator: 23
Enter the denominator: 2
Result: 11.5
Division completed successfully.

In [ ]:
# oops function

In [ ]:
class Student:
    # This init fucntion automatically called when the object is created
    def __init__(self, name, location, branch):
        self.name = name
        self.location = location
        self.branch = branch

     # Displaying all the properties of the student
    def display_info(self):
        print(f"name: {self.name}")
        print(f"location: {self.location}")
        print(f"branch: {self.branch}")

# here we're creating the object
student1 = Student("krish", "jaipur", "regex")
student2 = Student("krish1", "sanganer", "python")
# print(student1.name,student1.location)
# print(student2.name, student2.location)
student1.display_info()

name: krish
location: jaipur
branch: regex

In [ ]:
class car:
    def __init__(self, wheels, colour, engine, bulletproof, sunroof):
        self.wheels = wheels
        self.colour = colour
        self.engine = engine
        self.bulletproof = bulletproof
        self.sunroof = sunroof
    def display_info(self):
        print(f"wheels: {self.wheels}")
        print(f"colour: {self.colour}")
        print(f"engine: {self.engine}")
        print(f"bulletproof: {self.bulletproof}")
        print(f"sunroof: {self.sunroof}")

car1 = car("mrf", "black", "v8", True, True)

print(car1.bulletproof)

True

In [ ]:
class Student:
    # class level attribute
    college = "RAJSTHAN UNIVERSITY"

    # INTANCE ATTRIBUTE
    def __init__(self,name):
        self.name = name

    # Displaying all the properties of the student
    def display_info(self):
        print(f"name: {self.name}")
        print(f"college: {self.college}")


s1 = Student("krish")
s1.college = "abc university"
s1.display_info()

name: krish
college: abc university

In [ ]:
class Student:
    # Class level attributes
    college_name = "RAJSTHAN UNIVERSITY"
    def __init__(self,name,rollno,college):
        self.name = name
        self.rollno = rollno
        self.college = college
    def display_info(self):
        print(f"name: {self.name}")
        print(f"rollno: {self.rollno}")
        print(f"college: {self.college}")
s1 = Student("KRISH","2022BCA055",Student.college_name)
s1.display_info()

name: KRISH
rollno: 2022BCA055
college: RAJSTHAN UNIVERSITY