<a href="https://colab.research.google.com/github/krishkumawat0416-debug/PYTHON/blob/main/Untitled36.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pandas --> pandas is a library which is used to manipulate the data , and analys the data
# pandas is built on the top of numpy library

In [7]:
import pandas as pd
import numpy as np

In [6]:
# to read the csv files we use the read_csv method
# read_csv("path_of_file")
pd.read_csv("/content/sample_data/mnist_test.csv")

In [ ]:
# pandas have two different data types
# (1). Series
# (2). Data Frame

In [13]:
# Series create with the help of numpy array
s = pd.Series(np.array([1,2,3,4]), index=['a','b','c','d'])

In [16]:
s.size

4

In [18]:
# Creating a series with the help of list
li = [1,2,3,4]
li_idx = ['a', 'b', 'c', 'd']
pd.Series(li, index=li_idx)

a    1
b    2
c    3
d    4
dtype: int64

In [22]:
# Creating a series with the help of dictionary
s1 = d = {'a':10,
     'b':20,
     'c':30,
     'd':40}
# When we create any series with the help of dictionary
# key --> index , value --> value
s1 = pd.Series(d)

In [25]:
# values is used to retrieve the values of the series
# it returns the values into the form of the numpy array
s1.values

array([10, 20, 30, 40])

In [26]:
# index method is used to find all the indices of the series
s1.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [27]:
s1.dtype

dtype('int64')

In [29]:
# Vectorised oprations
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([5,6,7,8])

s1 + s2

0     6
1     8
2    10
3    12
dtype: int64

In [31]:
s1 ** 2

In [34]:
# Accessing the elements using indices
series = pd.Series(np.arange(1,13))
# We can access the elements of the series using some conditions
series[series > 5]

5      6
6      7
7      8
8      9
9     10
10    11
11    12
dtype: int64

In [35]:
series[series % 2 == 0]

1      2
3      4
5      6
7      8
9     10
11    12
dtype: int64

In [ ]:
from os import RWF_NOWAIT
# Data Frame --> is a primary two dimensional table like data structure used for
# data manipulation and analysis in python

# Key components
# Data
# Row
# Columns

In [39]:
# Data Frame --> row and columns

# Creating the data frame with help of dictionary

student_details = {
    'Name' : ['krish' , 'rahul', 'aman'],
    'Subject' : ['Maths', 'English', 'Science'],
    'Marks' : [80, 90, 95],
    'Address' : ['Jaipur' , 'Delhi' , 'Mp']
}

pd.DataFrame(student_details)

    Name  Subject  Marks Address
0  krish    Maths     80  Jaipur
1  rahul  English     90   Delhi
2   aman  Science     95      Mp

In [40]:
student_detail = [
    ['krish', 'Maths', 80, 'Jaipur'],
    ['rahul', 'English', 90, 'Delhi'],
    ['aman', 'Science', 95, 'Mp']
]

pd.DataFrame(student_detail, columns=['Name', 'Subject', 'Marks', 'Address'])

    Name  Subject  Marks Address
0  krish    Maths     80  Jaipur
1  rahul  English     90   Delhi
2   aman  Science     95      Mp