<a href="https://colab.research.google.com/github/krishkumawat0416-debug/PYTHON/blob/main/Untitled27.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# Workflow of Ml --->
# Data Ingestion ----> Data Cleaning and Preprocessing ---> Select Ml Model
# Model training ---> Model Prediction ---> Calculate Performance of Model

In [42]:
# Data Cleaning and Preprocessing --->
# Data ---> x_train , x_test , y_train , y_test
# Machine (x_train, x_test)
# 1+1=2
# 2+2=4
# 3+3=6
# Machine  (5+7) ----???? ---> pridict = 13
# 5+7 ---> x_test
# 12 ---> y_test
# 13 ---> yield
# Machine(y_pred , y_test)

In [43]:
# How can we create data dividation ???

In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("/content/covid_toy - covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [46]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [47]:
df['fever']=df['fever'].fillna(df['fever'].mean())

In [48]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [49]:
x = df.drop(columns = ['has_covid'])   ### Input or Independent data
# x
x.shape

(100, 5)

In [50]:
y = df['has_covid']
# y
y.shape

(100,)

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
x_train , x_test , y_train , y_test = train_test_split(x,
                                                       y,
                                                       test_size=0.2,
                                                       random_state = 43)

In [53]:
print("Total data shape :", df.shape)
print("_____________________________")
print("Input data shape : ", x.shape)
print("x_train data shape : ", x_train.shape)
print("x_test data shape : ", x_test.shape)
print("_______________________________")
print("Input data shape : ", y.shape)
print("y_train data shape : ", y_train.shape)
print("y_test data shape : ", y_test.shape)

Total data shape : (100, 6)
_____________________________
Input data shape :  (100, 5)
x_train data shape :  (80, 5)
x_test data shape :  (20, 5)
_______________________________
Input data shape :  (100,)
y_train data shape :  (80,)
y_test data shape :  (20,)

In [54]:
df = pd.read_csv("/content/Customer_Call.xlsx - Call List.csv")
df.head(3)

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True

In [55]:
df.isnull().sum()

CustomerID           0
First_Name           0
Last_Name            1
Phone_Number         2
Address              0
Paying Customer      0
Do_Not_Contact       4
Not_Useful_Column    0
dtype: int64

In [56]:
df['Last_Name']=df['Last_Name'].fillna(0)
df['Phone_Number']=df['Phone_Number'].fillna(0)
df['Do_Not_Contact']=df['Do_Not_Contact'].fillna(0)

In [57]:
df.isnull().sum()

CustomerID           0
First_Name           0
Last_Name            0
Phone_Number         0
Address              0
Paying Customer      0
Do_Not_Contact       0
Not_Useful_Column    0
dtype: int64

In [58]:
x = df.drop(columns = ['Not_Useful_Column'])
# x
x.shape

(21, 7)

In [59]:
y = df['Not_Useful_Column']
y.shape

(21,)

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
x_train , x_test , y_train , y_test = train_test_split(x,
                                                       y,
                                                       test_size=0.2,
                                                       random_state = 43)

In [62]:
print("Total data shape :", df.shape)
print("_____________________________")
print("Input data shape : ", x.shape)
print("x_train data shape : ", x_train.shape)
print("x_test data shape : ", x_test.shape)
print("_______________________________")
print("Input data shape : ", y.shape)
print("y_train data shape : ", y_train.shape)
print("y_test data shape : ", y_test.shape)

Total data shape : (21, 8)
_____________________________
Input data shape :  (21, 7)
x_train data shape :  (16, 7)
x_test data shape :  (5, 7)
_______________________________
Input data shape :  (21,)
y_train data shape :  (16,)
y_test data shape :  (5,)

In [63]:
df = pd.read_csv("/content/titanic - titanic.csv")
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [64]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [69]:
df['Cabin']=df['Cabin'].fillna(0)
df['Age']=df['Age'].fillna(0)
df['Fare']=df['Fare'].fillna(0)

In [70]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [73]:
x = df.drop(columns = ['Survived'])
x.shape

(418, 11)

In [74]:
y = df['Survived']
y.shape

(418,)

In [75]:
from sklearn.model_selection import train_test_split

In [76]:
x_train , x_test , y_train , y_test = train_test_split(x,
                                                       y,
                                                       test_size=0.2,
                                                       random_state = 43)

In [77]:
print("Total data shape :", df.shape)
print("_____________________________")
print("Input data shape : ", x.shape)
print("x_train data shape : ", x_train.shape)
print("x_test data shape : ", x_test.shape)
print("_______________________________")
print("Input data shape : ", y.shape)
print("y_train data shape : ", y_train.shape)
print("y_test data shape : ", y_test.shape)

Total data shape : (418, 12)
_____________________________
Input data shape :  (418, 11)
x_train data shape :  (334, 11)
x_test data shape :  (84, 11)
_______________________________
Input data shape :  (418,)
y_train data shape :  (334,)
y_test data shape :  (84,)